{# NSCoreBundle::admin.html.twig #}

{% extends "NSCoreBundle::layout.html.twig" %}

{% block body %}
    <div id="admin-container" class="container">
        {% block ns_core_admin_body %}
        {% endblock %}
    </div>
{% endblock %}