{% extends 'NSCoreBundle::layout.html.twig' %}

{% block body %}
    <div class="container">
        <h1>{{ "news.edit.title" | trans({"%news_id%": news.id}, "NSCoreBundle") }}</h1>
        {% include 'NSCoreBundle:News:form.html.twig' %}
    </div>
{% endblock %}
