{% extends 'NSCoreBundle::layout.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="position-relative">{{ "news.new.title" | trans({}, "NSCoreBundle") }}</h1>
        {% include 'NSCoreBundle:News:form.html.twig' %}
    </div>
{% endblock %}
