{# NSResumeBundle::card.html.twig #}

<div class="col-lg-3 col-md-4 col-sm-6 mb-2">
    <div class="card border-secondary last-news-tile">
        <div class="card-header  text-center">
            <h3 class="card-title">Développeur PHP</h3>
            <p class="card-text">
                <small class="text-muted">
                    {{ "public.index.published-at"|trans({}, "NSResumeBundle") }}
                    {{ today|localizeddate('short', 'short', null, null, dateFormat) }}
                </small>
            </p>
        </div>

        <div class="card-body p-3">
            <h4 class="card-subtitle text-muted">{{ "public.index.skills-title"|trans({}, "NSResumeBundle") }}</h4>
            <p class="card-text text-justify">
            <ul>
                <li>PHP 7 <span class="text-success">(Expert)</span></li>
                <li>Javascript <span class="text-primary">(Confirmé)</span></li>
                <li>Java <span class="text-primary">(Confirmé)</span></li>
                <li>Python 3 <span class="text-secondary">(Débutant)</span></li>
            </ul>
            </p>
        </div>

        <div class="card-footer text-center">
            <a class="card-link"
               href="#">
                {{ "public.index.show-detail" | trans({}, "NSResumeBundle")}} &raquo;
            </a>
        </div>
    </div>
</div>