<?xml version="1.0" encoding="UTF-8"?>
<!-- This is an example of phpunit configuration. Do not use it! -->
<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <server name="KERNEL_CLASS" value="AppKernel" />
    </php>

    <testsuites>
        <testsuite name="NSPlatform">
            <directory>src/Com/Nairus/CoreBundle/Tests</directory>
            <directory>src/Com/Nairus/PlatformBundle/Tests</directory>
            <directory>src/Com/Nairus/UserBundle/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
            <exclude>
                <!--
                    Exclude this folders because they don't need unit tests or code coverage is wrong about this components.
                    For example controllers are testes with functional tests.
                    We don't need the test classes in the code coverae report too.
                    And the interfaces are tested with their implementations classes.
                -->
                <directory>src/Com/Nairus/*Bundle/Tests</directory>
                <directory>src/Com/Nairus/*Bundle/Controller</directory>
                <directory>src/Com/Nairus/*Bundle/DependencyInjection</directory>
                <directory>src/Com/Nairus/*Bundle/*/*Interface</directory>
                <directory>src/Com/Nairus/*Bundle/Resources</directory>
            </exclude>
        </whitelist>
    </filter>

    <!-- Logging for code coverage, uncomment the output you want to generate the code coverage report -->
    <!--<logging>-->
    <!--<log type="coverage-html" target="var/coverage" lowUpperBound="35"
    highLowerBound="70"/>-->
    <!--<log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>-->
    <!--<log type="coverage-clover" target="var/coverage.xml"/>-->
    <!--<log type="coverage-php" target="var/coverage.serialized"/>-->
    <!--<log type="junit" target="var/logfile.xml"/>-->
    <!--<log type="testdox-html" target="var/testdox.html"/>-->
    <!--<log type="testdox-text" target="var/testdox.txt"/>-->
    <!--</logging>-->
</phpunit>
