/* Styles for forms */
label.required:after {
    content: "*";
    color: red;
}

/* Override bootstrap classes to display correctly class above. */
.invalid-feedback.d-block {
    float: left;
}

/* customize a2lix form style */
.a2lix_translationsFields {
    background-color: white;
    padding: 10px 15px 5px;
    border-bottom: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
}

/* Add internationalized label missing for file input */
.custom-file-input:lang(fr)~.custom-file-label::after{content:"Parcourir"}
