/* main styles */
h1,h2,h3,h4,h5,h6 {
    font-family: Verdana, Arial, sans-serif;
    color: #333;
}
h1 {
    font-size: 1.8em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.4em;
}
h4 {
    font-size: 1.3em;
}
h5 {
    font-size: 1.2em;
}
h6 {
    font-size: 1.1em;
}

.ns-flag {
    background-image: url("/bundles/nscore/img/flags-icons.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 11px;
    float: left;
    margin: 7px 5px 0 0;
}

.ns-flag-en {
    background-position: bottom -241px right -368px
}
.ns-flag-fr {
    background-position: bottom -73px right -144px
}

[role="main"] {
    padding-top: 32px;
}

.message-container {
    position: relative;
}

.message-container > .alert {
    margin-top: 1rem;
}
