/* main styles */
.ns-flag {
    background-image: url("/bundles/nscore/img/flags-icons.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 11px;
    float: left;
    margin: 7px 5px 0 0;
}

.ns-flag-en {
    background-position: bottom -241px right -368px
}
.ns-flag-fr {
    background-position: bottom -73px right -144px
}

[role="main"] {
    padding-top: 32px;
}

.message-container {
    position: relative;
}

.message-container > .alert {
    margin-top: 1rem;
}
